[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/BryanBrinez/auth-ms.git
[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/BryanBrinez/client-gateway.git
[submodule "project-ms"]
	path = project-ms
	url = https://github.com/BryanBrinez/project-ms.git
[submodule "users-ms"]
	path = users-ms
	url = https://github.com/BryanBrinez/users-ms.git
